<div class="sidebar">
            
        <div class="sidebar-section">
            <h5><span>Enlaces relacionados</span></h5>
            <ul style="list-none;">
            <li><a target="_blank" href="https://facebook.com/igdapy">IGDA PY Facebook</a></li>
            <li><a target="blank" href="https://twitter.com/igdapy">IGDA PY Twitter</a></li>
            <li><a target="blank" href="http://facebook.com/gamedevparaguay">GameDevPY Magazine Facebook</a></li>
            <li><a target="blank" href="https://twitter.com/gamedevparaguay">GameDevPY Magazine Twitter</a></li>
            <li><a target="blank" href="https://www.facebook.com/groups/gamedevparaguay/">Comunidad en Facebook</a></li>
            <li><a target="blank" href="https://discord.me/GameDevParaguay">Canal en DISCORD</a></li>
            </ul>
        </div>
            
</div>